table {
    width: 100%;
    border-collapse: collapse;
}

table.reportSummary,
table.legendTable {
    width: 60%;
    border-collapse: collapse;
    margin: 25px auto;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

table.legendTable td {
    border: 0;
}

.accordian {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: 1px solid white;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.left-float {
    float: left;
    text-align: left;
}

.right-float {
    float: right;
    text-align: right;
}

.white-space-normal {
    white-space: normal;
}
.result-rows {
    display: none;
}

.fixture-test-passed {
    background-color: #2cc16a;
    color: #ffffff;
}

.fixture-test-failed {
    background-color: #e65202;
    color: #ffffff;
}

.fixture-test-skipped {
    background-color: #e6a602;
    color: #ffffff;
}

.toggle-all {
    cursor: pointer;
    padding: 18px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    transition: 0.4s;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0px 20px;
    padding: 10px 0px 10px;
}

.filterBtn {
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    background: #3498db;
    color: white;
    font-weight: bold;
}

.panel {
    padding: 10px 0px 10px;
    width: 80%;
    margin: 15px auto;
    display: none;
    text-align: center;
    font-weight: bold;
    color: #100f0f;
}

table.tests {
    display: none;
}

.reportSummary tr td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
}

.logItem {
    text-indent: 100px;
}

.clickable-table {
    border-collapse: collapse;
    table-layout: fixed;
}

.clickable-table td {
    word-wrap: break-word;
}

.clickable-table tbody:after {
    content: '@';
    display: block;
    line-height: 10px;
    text-indent: -99999px;
}

.httpRequest {
    color: #8c8e02;
    text-indent: 40px;
}

.browserLog {
    color: #9c899cf2;
    text-indent: 40px;
}

.browserLog span.error {
    color: red;
}

.browserLog span.warn {
    color: orange;
}

.testInfo {
    color: #6473e0;
    text-indent: 40px;
}

.align-center {
    text-align: center;
}

.logStep {
    font-weight: bold;
}

.logHead {
    text-align: center;
    color: #1d0ff3;
    font-weight: bold;
}

.row-header {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
